{% extends 'index.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}{{ article.title }} - {% endblock %}

{% block content %}
<section class="content-section">
  <article class="article article_page">
    <div class="article-author-info">
      <span class="article-author">{{ article.author }} </span>
      <span class="article-date-edit">{{ article.date_pub|date:"d.m.Y" }}</span>
    </div>
    <h2 class="article-title article-title_page">{{ article.title }}</h2>
    {% if user.is_authenticated and request.user == article.author %}
      <a class="article__edit-button article__edit-button_page" href="{% url 'admin:index' %}events/article/{{ article.id }}/change/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {% endif %}
    <div class="article__main article__main_page">
      <div class="article__image article__image_page">
        {% thumbnail article.image "500x300" upscale=True as im %}
          <img src="{{ im.url }}" alt="{{ article.title }}" class="article-page__image-img">
        {% endthumbnail %}
      </div>
      <div class="article-descr article-descr_page">
        <p class="article-descr__text article-descr__text_page">{{ article.text_html|safe }}</p>
      </div>
    </div>
    <div class="article-info article-info_page">
      <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"> </i>{{ article.total_views }}
        {% if article.last_views %}
          <span class="article-info__lastviews">
            +{{ article.last_views }}
          </span>
        {% endif %}
      </div>
      <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
      <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ article.date_edit|date:"d.m.Y H:i" }}</div>
    </div>
  </article>
</section>
{% endblock %}
