{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}Статьи - {% endblock %}

{% block content %}

<section class="content-section">
  <h2 class="content-section__title content-section__title_events">Статьи</h2>
  {% for article in articles %}
    <article class="article">
      <div class="article-author-info">
        <span class="article-author">{{ article.author }} </span>
        <span class="article-date-edit">{{ article.date_pub|date:"d.m.Y" }}</span>
      </div>
      <h3 class="article-title">{{ article.title }}</h3>
      <div class="article__main">
        <div class="article__left">
          <div class="article__image">
            {% thumbnail article.image "300x300" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ article.title }}" class="article__image-img">
            {% endthumbnail %}
          </div>
        </div>
        <div class="article__right">
          <div class="article-descr">
            <p class="article-descr__text">{{ article.text_html|safe|truncatechars:300 }}</p>
            <a href="{% url 'events:article_detail' article.id %}" class="article__more">Читать дальше →</a>
          </div>
        </div>
      </div>
      <div class="article-info">
        <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"></i> {{ article.total_views }}</div>
        <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
        <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ article.date_edit|date:"d.m.Y" }}</div>
      </div>
    </article>
  {% endfor %}
  </section>
{% endblock %}
