<footer class="footer site-footer">
  <div class="footer-menu-wrapper">
    <div class="container">
      <div class="row">
        
        <div class="col-4 col-md-2">
          <div class="site-logo-wrapper site-logo-wrapper_footer">
            <a href="/" class="site-logo"></a>
          </div>
        </div>
        
        <div class="col-8 col-md-10">
            <div class="footer-menu"> 
              <ul class="footer-menu__ul">
                {% load menubuilder %}
                {% menu menu %}
                {% for item in menuitems %}
                <li class="footer-menu__list-item">
                  <a href="{{ item.url }}" title="{{ item.title|escape }}"  class="footer-menu__link {% if item.current %}current {% endif %}">{{ item.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
        </div>
      
      </div>  
    </div>  
  </div>
  
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-0 col-md-2"></div>
        <div class="col-12 col-md-10">
          <p class="footer__copyright-text">&copy; "ACTIVE_BIKE_KHV", 2022 г.</p>
          <p class="footer__copyright-text footer__copyright-text_2">Разработка сайта:
          <a href="https://t.me/" class="footer__link">Roman C.</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>
