{% load static %}
{% load common_tags %}
<footer class="footer site-footer">
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-content">
            <div class="footer-logo-wrapper">
              <a href="/" class="site-logo site-logo_footer"></a>
            </div>
            <ul class="footer-menu">
              {% load menubuilder %}
              {% menu menu %}
              {% for item in menuitems %}
              <li class="footer-menu__list-item">
                <a href="{{ item.url }}" title="{{ item.title|escape }}"  class="footer-menu__link {% if item.current %}current {% endif %}">{{ item.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>  
    </div>  
  </div>
  
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="footer-copyright-content">
            <p class="footer__copyright-text">&copy; "ACTIVE_BIKE_KHV", 2022 г.</p>
            <p class="footer__copyright-text footer__copyright-text_2">Разработка сайта:
            <a href="https://t.me/xjavue" class="footer__link">Roman C.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
