{% load static %}
{% load common_tags %}
<header class="header">
  
  <div class="header-topline-wrapper">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-12">
          <div class="header-topline">
            <div class="site-logo-wrapper">
              <a href="/" class="site-logo"></a>
            </div>
            <h1 class="header-title"><a href="/" class="header-title__link">ACTIVE_BIKE_KHV</a></h1>
            <div class="header-subtitle">
              Сообщество велосипедистов города Хабаровска
            </div>
            <div class="menu-button-container" id="menu-button">
              <button class="menu-button"></button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  
</header>

<nav class="header-menu-nav">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="header-menu-content">
          <ul class="header-menu-desktop">
            {% load menubuilder %}
            {% menu menu %}
            {% if menuitems %}
              {% for item in menuitems %}
                <li class="header-menu-desktop__item">
                  <a href="{{ item.url }}" title="{{ item.title|escape }}"  class="header-menu-desktop__link {% if item.current %}current{% endif %}">{{ item.title }}</a>
                </li>
              {% endfor %}
            {% else %}
              Добавьте меню.
            {% endif %}
              <li class="auth">
                {% if user.is_authenticated %}
                  <div class="auth_username">{{ user.username }}:</div><a href="{% url 'admin:index' %}" class="auth-link">Личный кабинет</a>
                  <a href="{% url 'logout' %}" class="auth-link auth-link_2">Выйти</a>
                {% else %}
                  <a href="{% url 'login' %}" class="auth-link auth-link_login">Войти</a>
                {% endif %}
              </li>
          </ul>
          <ul class="header-menu-mobile" id="header-menu-mobile">
            {% load menubuilder %}
            {% menu menu %}
              {% for item in menuitems %}
              <li class="header-menu-mobile__item">
                <a href="{{ item.url }}" title="{{ item.title|escape }}" class="header-menu-mobile__link {% if item.current %}current{% endif %}">{{ item.title }}</a>
              </li>
              {% endfor %}
              <li class="auth">
                {% if user.is_authenticated %}
                  <div class="auth_username">{{ user.username }}:</div><a href="{% url 'admin:index' %}" class="auth-link">Личный кабинет</a>
                  <a href="{% url 'logout' %}" class="auth-link auth-link_2">Выйти</a>
                {% else %}
                  <a href="{% url 'login' %}" class="auth-link auth-link_login">Войти</a>
                {% endif %}
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="chapter-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="chapter">
          {% for item in menuitems %}
          {% if item.current %}<h2 class="chapter-title"><a href="{{ item.url }}" title="{{ item.title|escape }}" class="chapter-title__link">{{ item.title|escape }}</a></h2>{% endif %}
          
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
