{% load static %}
{% load common_tags %}
<header class="header">
  <div class="header-topline">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        
        <div class="col-2">
          <div class="site-logo-wrapper">
            <a href="/" class="site-logo"></a>
          </div>
        </div>
        
        <div class="col-3">
          <h1 class="header-text__title">ACTIVE BIKE KHV</h1>
          {% comment %} <div class="topline-text-left">
            <span class="header-text__subtitle">больше, чем покатушки</span>
          </div> {% endcomment %}
        </div>
        
        <div class="col-7">
          <div class="header-text">
            Сообщество любителей активного отдыха города Хабаровска
          </div>
        </div>
      </div>
    </div>
  </div>
{% comment %} 
  {% show_top_menu %} {% endcomment %}
<nav class="header-menu">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <ul class="header-menu__list">
          {% load menubuilder %}
          {% menu menu %}
          {% for item in menuitems %}
            <li class="header-menu__list-item">
              <a href="{{ item.url }}" title="{{ item.title|escape }}"  class="header-menu__link {% if item.current %} current {% endif %}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>

</header>
