{% load static %}
<header class="header">
  <div class="header-topline">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-3 col-md-2">
          <div class="site-logo-wrapper">
            <div class="site-logo"></div>
          </div>
        </div>
        <div class="col-9 col-md-10">
          <div class="header-text">
            <h1 class="header-text__title">ACTIVE BIKE</h1>
            <div class="header-text__subtitle">
              <span class="header-text__t1">Сообщество велосипедистов </span
              ><span class="header-text__t2"> города Хабаровска</span>
            </div>
          </div>
        </div>
        <div class="col-0 col-md-2"></div>
      </div>
    </div>
  </div>
  <!-- <div class="header-gallery owl-carousel">
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/1.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/2.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/3.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/4.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/5.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/6.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/7.jpg" alt="Наши заезды" class="header-gallery__img"></div>
            <div class="header-gallery__item"><img src="<?php echo get_template_directory_uri() ?>/assets/img/header-gallery/8.jpg" alt="Наши заезды" class="header-gallery__img"></div>
        </div> -->
</header>
