{% load thumbnail %}
<aside class="sidebar">
  
  <section class="top-articles sidebar-widget">
    <h2 class="sidebar-widget__title">Популярные статьи</h2>
    <ul class="top-articles-list">
    {% if popular_articles %}
      {% for article in popular_articles %}
        <li class="single-article">
          <a href="{% url 'events:article_detail' article.id %}" class="single-article__link">
            {% thumbnail article.image "200x200" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" alt="{{ article.title }}" class="single-article__img">
            {% endthumbnail %}
            <h3 class="single-article__title">{{ article.title }}</h3>
            <p class="single-article__text">{{ article.text|truncatechars:100 }}</p>
          </a>
          <div class="article-info article-info_widget">
            <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"> </i>{{ article.total_views }}
              {% if article.last_views %}
                <span class="article-info__lastviews">
                  +{{ article.last_views }}
                </span>
              {% endif %}
            </div>
            <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
            <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ article.date_edit|date:"d.m.Y" }}</div>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <li class="single-article">
        Нет статей.
      </li>
    {% endif %}
    </ul>
  </section>

  <section class="links-block sidebar-widget">
    <h2 class="sidebar-widget__title">Ссылки</h2>
    <ul class="links-block__list">
    {% if links %}
      {% for link in links %}
      <li class="links-block__li">
        <span class="links-block__icon">{{ link.icon.icon_string|safe }}</span><a href="{{ link.url }}" class="links-block__link">{{ link.text }}</a>
      </li>
      {% endfor %}
    {% else %}
      Нет ссылок.
    {% endif %}
    </ul>
  </section>
</aside>
