{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}{{ event.date_planned|date:"d.m.Y" }} - {{ event.title }} - {% endblock %}

{% block content %}
<section class="content-section">
  <article class="article article_page">
    <h2 class="article-title article-title_page"><span class="article-title__text">{{ event.title }}</span><span class="article-title__text-date">({{ event.date_planned|date:"d.m.Y, l" }})</span></h2>
    <div class="article__main article__main_page">
      <div class="article-descr article-descr_page">
        <p class="article-descr__text article-descr__text_page">{{ event.text_html|safe }}</p>
      </div>
      <div class="article__image article__image_page">
        {% thumbnail event.image "700x400" crop="center" upscale=True as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ event.title }}" class="article__image-img">
        {% endthumbnail %}
      </div>
    </div>
    <div class="article-info article-info_page">
      <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"></i>{{ event.total_views }}</div>
      <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
      <div class="article-info__author">{{ event.author|truncatechars:15 }}</div>
      <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ event.date_edit|date:"d.m.Y" }}</div>
    </div>
  </article>
</section>
{% endblock %}
