{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}События - {% endblock %}

{% block content %}
<h2 class="events__h2">
  <span class="events__h2_1">События</span>
</h2>

<div class="events__content">
  {% for event in events %}
    <article class="event">
      <h3 class="event__caption"><a href="{% url 'events:event_detail' event.id %}" class="event__caption-link">{{ event.date_planned|date:"d.m.Y" }} - {{ event.title }}</a></h3>
      <div class="event__main">
        <div class="event__left">
          <div class="event__image">
            {% thumbnail event.image "300x300" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ event.title }}" class="event__image-img">
            {% endthumbnail %}
          </div>
        </div>
        <div class="event__right">
          <div class="event-descr">
            <p class="event-descr__text">{{ event.text_html|safe|truncatechars:300 }}</p>
            <a href="{% url 'events:event_detail' event.id %}" class="event-descr__more">Далее</a>
          </div>
        </div>
      </div>
      <div class="event__info">
        <div class="event__info-col event__info-col_1">
          <div class="event__icons">
            <i class="fa fa-bicycle fa-lg"></i>
          </div>
        </div>
        <div class="event__info-col event__info-col_2">
          <div class="event-author">
            Автор:
            <span class="event-author__value">{{ event.author }}</span>
          </div>
          <div class="event-date-edited">
            Изменено:
            <span class="event-date-edited__value">{{ event.date_edit|date:"d.m.Y" }}</span>
          </div>
        </div>
        <div class="event__info-col event__info-col_3">
          <div class="event__views">
            Просмотров:
            <span class="event__views-value">20</span>
          </div>
          <div class="event__comments">
            Комментарии (<span class="event__views-value">10</span>)
          </div>
        </div>
        <div class="event__info-col event__info-col_4">
          <div class="event__date">
            Дата события:
            <span class="event__date-value">{{ event.date_planned|date:"d.m.Y" }}</span>
          </div>
          <div class="event__share">
            <a class="event__date-value" href="">Поделиться</a>
            {% comment %} <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-share-url="https://activebike-khv.ru/events/{{ event.id }}/" data-comment="Поделиться"></script> {% endcomment %}
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}
