{% extends 'index.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}События - {% endblock %}

{% block content %}

<section class="content-section content-section_pt0">
  {% comment %} <h2 class="content-section__title content-section__title_events">Все события</h2> {% endcomment %}
{% if events %}
  {% for event in events %}
    <article class="article">
      <h3 class="article-title"><a href="{% url 'events:event_detail' event.id %}" class="article-title__link">{{ event.title }}</a></h3>
      {% if user.is_authenticated and request.user == event.author %}
        <a class="article__edit-button article__edit-button_page" href="{% url 'admin:index' %}events/event/{{ event.id }}/change/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      {% endif %}
      <div class="article__main">
        <div class="article__left">
          <a href="{% url 'events:event_detail' event.id %}" class="article__image">
            {% thumbnail event.default_image "300x300" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ event.title }}" class="article__image-img">
            {% endthumbnail %}
          </a>
        </div>
        <div class="article__right">
          <a href="{% url 'events:event_detail' event.id %}" class="article-descr">
            <p class="article-descr__date">{{ event.date_planned|date:"l, d.m.Y, H:i" }}</p>
            <p class="article-descr__text">{{ event.text_html|safe|truncatechars_html:300 }}</p>
          </a>
          <div class="article-descr-buttons">
            <a href="{% url 'events:event_detail' event.id %}" class="article__more">Читать дальше →</a>
            {% if event.event_reports %}
              {% for report in event.event_reports %}
                <a href="{% url 'events:report_detail' report.id %}" class="article__more">Смотреть отчет {{ report.author }} →</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="article-info">
        <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"> </i>{{ event.total_views }}
          {% if event.last_views %}
            <span class="article-info__lastviews">
              +{{ event.last_views }}
            </span>
          {% endif %}
        </div>
        <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
        <div class="article-info__author">{{ event.author|truncatechars:15 }}</div>
        <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ event.date_edit|date:"d.m.Y H:i" }}</div>
      </div>
    </article>
  {% endfor %}
{% else %}
  <article class="article">
    Нет событий.
  </article>
{% endif %}
</section>
{% endblock %}
