{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}Маршруты - {% endblock %} {% block content %}


<section class="content-section content-section_pt0">
  {% comment %} <h2 class="content-section__title content-section__title_events">Маршруты</h2> {% endcomment %}
  {% for route in routes %}
  <article class="article">
    <h3 class="article-title">
      <a href="{% url 'events:route_detail' route.id %}" class="routes-item__title-link">{{ route.title }}</a>
    </h3>
    {% if user.is_authenticated and request.user == route.author %}
      <a class="article__edit-button" href="{% url 'admin:index' %}events/route/{{ route.id }}/change/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    {% endif %}
    <div class="article__main">
        <div class="route__left">
            <a href="{% url 'events:route_detail' route.id %}" class="routes-item__image">
              {% thumbnail route.image "300x300" crop="center" upscale=True as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ route.title }}" class="routes-item__image-img">
              {% endthumbnail %}
            </a>
        </div>
        <div class="route__right">
            <div class="route-info">
                <div class="route-info__item">Тип: <span class="route-info__value">{{ route.type }}</span></div>
                <div class="route-info__item">Дистанция: <span class="route-info__value">{{ route.length }} км</span></div>
                <div class="route-info__item">Набор высоты: <span class="route-info__value">{{ route.height_gain }} м</span></div>
                <div class="route-info__item">Опубликовано: <span class="route-info__value">{{ route.date_pub|date:"d.m.Y" }} г.</span></div>
            </div>
        </div>
    </div>
    <div class="article-info article-info_route">
        <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"></i>{{ route.total_views }}</div>
        <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
        <div class="article-info__author">{{ route.author|truncatechars:9 }}</div>
        <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ route.date_edit|date:"d.m.Y" }}</div>
    </div>
  </article>
  {% endfor %}
</section>
{% endblock %}
