{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}Маршруты - {% endblock %}

{% block content %}
<h2 class="events__h2">
  <span class="events__h2_1">Маршруты</span>
</h2>

<div class="events__content">
  {% for route in routes %}
    <article class="event">
      <h3 class="event__caption"><a href="{% url 'events:route_detail' route.id %}" class="event__caption-link">{{ route.title }}</a></h3>
      <div class="event__main">
        
      </div>
      <div class="event__info">

      </div>
    </article>
  {% endfor %}
</div>
{% endblock %}
