{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}{{ route.title }} - Маршруты{% endblock %}

{% block content %}
<section class="content-section">
  <article class="article article_page">
    <h2 class="article-title article-title_page">{{ route.title }}</h2>
    <div class="route__info">
      <div class="route__info-item">
          Тип:
          <span class="route__info-value">{{ route.type }}</span>
      </div>
      <div class="route__info-item">
          Дистанция:
          <span class="route__info-value">{{ route.length }} км</span>
      </div>
      <div class="route__info-item">
          Набор высоты:
          <span class="route__info-value">{{ route.height_gain }} м</span>
      </div>
      <div class="route__info-item">
          Опубликовано:
          <span class="route__info-value">{{ route.date_pub|date:"d.m.Y" }} г.</span>
      </div>
    </div>
    <div class="article__main article__main_page">
      <div class="article-descr article-descr_page">
        <p class="article-descr__text article-descr__text_page">{{ route.description|safe }}</p>
      </div>
    </div>
    <div class="map-wrapper">
      <div id="map" class="route__map"></div>
    </div>
    <div class="article-info article-info_page">
      <div class="article-info__views"><i class="fa fa-eye" aria-hidden="true"></i>{{ route.total_views }}</div>
      <div class="article-info__comments"><i class="fa fa-comment-o" aria-hidden="true"></i>  0</div>
      <div class="article-info__author">{{ route.author|truncatechars:15 }}</div>
      <div class="article-info__edit"><i class="fa fa-pencil" aria-hidden="true"></i> {{ route.date_edit|date:"d.m.Y" }}</div>
    </div>
  </article>
</section>
<script>
  var data = JSON.parse("{{ data|escapejs }}");
  var map = L.map("map");
  var coordinates = L.Polyline.fromEncoded(data).getLatLngs();
  
  
  
  
  L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 18,
  }).addTo(map);
  
  track = L.polyline(coordinates, {
    color: "#db2242",
    weight: 5,
    opacity: 1.0,
    lineJoin: "round",
  }).addTo(map);

  map.fitBounds(track.getBounds());

  var trackStart = [coordinates[0].lat,coordinates[0].lng]
  var trackFinish = [coordinates[coordinates.length - 1].lat,coordinates[coordinates.length - 1].lng]

  L.marker(trackStart).addTo(map);
  L.marker(trackFinish).addTo(map);


  
</script>
{% endblock %}
