{% extends 'base.html' %}
{% load static %}
{% block title %}На сайте проводятся технические работы{% endblock %}
{% block site_main %}

<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
      <div class="header-topline header-topline_errpage">
        <div class="site-logo-wrapper">
          <a href="/" class="site-logo"></a>
        </div>
        <h1 class="header-title">
          <a href="/" class="header-title__link">ACTIVE_BIKE_KHV</a>
        </h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row no-gutters">
    <div class="col-12">
        <p class="">На сайте проводятся технические работы. Пожалуйста, попробуйте позже.</p>
    </div>
  </div>
</div>

{% endblock %}
