{% extends 'base.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}О нас - {% endblock %}

{% block content %}
<section class="content-section content-section_about">
  {% for about_single in about_page %}
    <h2 class="article-title article-title_page">{{ about_single.title }}</h3>
    <p class="article-descr">{{ about_single.html_field|safe }}</p>
  {% endfor %}
</section>
<section class="content-section content-section_about">
  <h2 class="article-title article-title_page">Ссылки</h2>
  <ol type="1" class="links">
    {% for link in links %}
    <li class="links-item">
      <a href="{{ link.url }}" class="links-link">{{ link.text }}</a>
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock %}
