{% extends 'index.html' %}
{% load static %}
{% load cache %}
{% load thumbnail %}
{% block title %}О нас - {% endblock %}

{% block content %}
<section class="content-section content-section_about">
  <article class="article article_page">
  {% if about_page %}
    {% for about_single in about_page %}
    <h2 class="article-title article-title_page">{{ about_single.title }}</h3>
    <div class="article__image article__image_page">
      {% thumbnail about_single.image "700x400" upscale=True as im %}
        <img src="{{ im.url }}" alt="{{ about_single.title }}" class="article__image-img">
      {% endthumbnail %}
    </div>
    <p class="article-descr">{{ about_single.text_html|safe }}</p>
    {% endfor %}
  {% else %}
    Нет информации.
  {% endif %}
  </article>
  <article class="article article_page">
    <h2 class="article-title article-title_page">Ссылки</h2>
    <ol type="1" class="links">
      {% if links %}
        {% for link in links %}
        <li class="links-item">
          <a href="{{ link.url }}" class="links-link">{{ link.text }}</a>
        </li>
        {% endfor %}
      {% else %}
        Нет ссылок.
      {% endif %}
    </ol>
  </article>
</section>
{% endblock %}
