{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'libs/jquery-3.6.0.min.js' %}"></script>
    
    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'libs/leaflet/Polyline.encoded.js' %}"></script>

    <link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}">

    <link  href="{% static 'libs/fancybox/jquery.fancybox.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid.min.css' %}">

    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'libs/owl-carousel/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/owl-carousel/owl.theme.default.min.css' %}"/>
  
    <link rel="stylesheet" href="{% static 'libs/reset.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.89">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    
    <title>{% block title %}{% endblock %} ACTIVE_BIKE_KHV</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G9961718N0"></script>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-G9961718N0");
    </script>
    
    {% block addhead %}
    {% endblock %}

  </head>

  <body>
    
    {% block site_main %}Ошибка отображения основного раздела.{% endblock %}

    <script src="{% static 'libs/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'libs/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'libs/fancybox/jquery.fancybox.min.js' %}"></script>
    <script>
      $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          loop:true,
          margin:3,
          dots:false,
          responsiveClass:true,
          responsive:{
            0:{
                items:1,
                nav:false,
                loop:false
              },
              600:{
                items:2,
                nav:true,
                loop:false
              },
              1000:{
                items:3,
                nav:true,
                loop:false
            }
          }
        });
      });
  </script>    
  </body>
</html>
