{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'libs/jquery-3.6.0.min.js' %}"></script>
    
    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'libs/leaflet/Polyline.encoded.js' %}"></script>
    <script src="{% static 'libs/leaflet-gpx/gpx.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}">

    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/reset.css' %}">
    <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.86">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <title>{% block title %}{% endblock %} ACTIVE_BIKE_KHV</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G9961718N0"></script>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-G9961718N0");
    </script>
    
  </head>

  <body>
    
    {% block site_main %}Ошибка отображения основного раздела.{% endblock %}
    
  </body>
</html>
