body {
  background-color: #e2f3fb;
  color: #111;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  position: relative;
}

.pn15 {
  padding-left: 10px;
  padding-right: 10px;
}

h2,
h3 {
  font-size: 18px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  line-height: normal;
}

h2 {
  color: #d3446c;
}

h3 {
  color: #d3446c;
  /* color: #265e7a; */
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  display: block;
  margin: 5px 0;
}

.header {
  position: relative;
  z-index: 99;
  width: 100%;
}

.header-topline-wrapper {
  padding: 10px;
  /* background-color: #3483aa; */
  background: linear-gradient(to left, #3896c5, #265e7a);
  color: #fff;
}

.header-topline {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

.header-topline_errpage {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.site-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 10%;
}

.site-logo-wrapper_footer {
  margin-right: 20px;
}

.site-logo {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/site_logo+.svg) 0px 0px / cover no-repeat;
}

/*--------------------- Errpage ------------------------*/

.header-topline_errpage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 15px;
}

.errpage {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.errpage__h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.errpage__text {
  padding: 0 15px;
  margin-bottom: 10px;
}

.errpage__text-path {
  font-weight: 700;
}

/*--------------------- end errpages ------------------------*/

.menu-button-container {
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 200;
  height: calc(100% + 20px);
  width: 60px;
  cursor: pointer;
  display: none;
  background-color: #3b82a5;
  border: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  height: 4px;
  width: 32px;
  top: 34px;
  left: 14px;
}

.menu-button::before {
  top: -11px;
  left: 0px;
  content: "";
}

.menu-button::after {
  top: 11px;
  left: 0px;
  content: "";
}

.header-title {
  display: inline-block;
  width: 21%;
  font-size: 24px;
}

.header-title__link {
  text-decoration: none;
  color: inherit;
}

.header-subtitle {
  display: inline-block;
  width: 56%;
  font-size: 18px;
}

.header-menu-nav {
  /* position: relative; */
  position: sticky;
  top: 0;
  z-index: 1200;
  background: linear-gradient(to top, #ededed, #fff, #fff);
  border-bottom: 1px solid #c4e8ff;
  margin-bottom: 20px;
}
/* 
.header-menu-content {
} */

.header-menu-desktop {
  display: block;
  position: static;
  /* background-color: #fff; */
}

.header-menu-desktop__item {
  display: inline-block;
  /* width: 100%; */
}

.header-menu-desktop__link {
  display: inline-block;
  padding: 6px 16px;
  text-decoration: none;
  color: #a9aeb9;
  transition: all 0.2s;
  width: 100%;
}

.header-menu-desktop__link:hover {
  color: rgb(7, 78, 109);
}

.header-menu-desktop__link.current {
  color: rgb(7, 78, 109);
}

.header-menu-mobile {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  width: 55%;
  background-color: #e6f3ff;
  display: none;
}

.header-menu-mobile.active {
  display: none;
}

.header-menu-mobile__item {
  width: 100%;
}

.header-menu-mobile__item:not(:last-child) {
  border-bottom: 1px solid #c4e8ff;
}

.header-menu-mobile__link {
  display: inline-block;
  padding: 9px 10px;
  text-decoration: none;
  color: #b1b1b1;
  transition: all 0.2s;
  width: 100%;
  font-size: 18px;
}

.header-menu-mobile__link:hover {
  color: rgb(7, 78, 109);
}

.header-menu-mobile__link.current {
  color: rgb(7, 78, 109);
}

.auth {
  display: inline-block;
  margin-left: 30px;
  color: rgb(7, 78, 109);
}

.auth_username {
  display: inline-block;
}

.auth-link {
  display: inline-block;
  color: #a9aeb9;
  width: 132px;
  line-height: 1;
  text-decoration: none;
  padding: 10px 5px;
}

.auth-link:hover {
  text-decoration: underline;
}

.auth-form {
  padding: 15px;
}

.auth-form p:not(:last-child) {
  margin-bottom: 15px;
}

.auth-form label {
  display: inline-block;
  width: 23%;
}

.auth-form input {
  display: inline-block;
  width: 30%;
  border: 1px solid #c4e8ff;
  background-color: #fff;
  border-radius: 3px;
  padding: 4px 10px;
}

.auth-form__button {
  display: inline-block;
  padding: 4px 36px;
  cursor: pointer;
  text-decoration: none;
  color: #d3446c;
  background-color: transparent;
  border: 1px solid #d3446c;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 16px;
}

.auth-form__button:hover {
  background-color: #d3446c;
  color: #fff;
}

.chapter-wrapper {
  background-color: #fff;
  /* margin-bottom: 15px; */
  border-bottom: 1px solid #c4e8ff;
  display: none;
}

.chapter {
  background-color: #fff;
  padding: 7px 10px;
}

.chapter-title {
  text-align: left;
}

.chapter-title__link {
  text-decoration: none;
  color: #265e7a;
  font-size: 20px;
}

/*------------------- MAIN, CONTENT ----------------------*/

.main {
  position: relative;
  margin-bottom: 30px;
}

.content {
  margin-bottom: 20px;
}

.content-section {
  padding: 0px;
  border-top: 3px solid #3896c5;
}

.content-section:not(:last-child) {
  margin-bottom: 15px;
}

.content-section__title {
  background-color: #fff;
  padding: 7px 15px;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: left;
  border: 1px solid #c4e8ff;
}

.content-section__title_nearest {
  padding-bottom: 5px;
  font-size: 22px;
  /* border-bottom: 1px solid #3483aa; */
}

.content-section__title_events {
  /* padding-bottom: 5px; */
  font-size: 22px;
  /* border-bottom: 1px solid #3483aa; */
}

.event-gallery {
  margin-bottom: 20px;
}

/* --------------------------------- */

.events-all-btn-wrapper {
  background: #fff;
  padding: 10px 15px;
  border: 1px solid #c4e8ff;
}

.backlink-wrapper {
  background: #fff;
  font-size: 16px;
  padding: 7px 15px;
  margin-bottom: 10px;
}

.backlink {
  text-decoration: none;
  color: #a9aeb9;
}

.backlink:hover {
  color: #265e7a;
}

/*--------------------- ARTICLES --------------------------*/

.article {
  position: relative;
  padding: 15px;
  margin-bottom: 5px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #c4e8ff;
  /* border-top: 2px solid #3896c5; */
}

.article_route {
  margin-right: 10px;
  margin-left: 10px;
}

.article_page {
  /* padding: 10px; */
  border-bottom: none;
}

.article-author-info {
  margin-bottom: 5px;
  font-size: 14px;
}

.article-author {
  color: rgb(61, 62, 64);
  margin-right: 5px;
  font-weight: 700;
}

.article-date-edit {
  color: rgb(115, 140, 167);
}

.article-title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}

.article-title_page {
  padding-bottom: 10px;
  border-bottom: 1px solid #3483aa;
  font-size: 20px;
  /* margin-right: 20px; */
}

.article-title__text {
  display: inline-block;
  margin-right: 10px;
}

.article-title__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.article-title__link:hover {
  color: #aa0131;
}

.article__edit-button {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #d3446c;
  font-size: 22px;
}

/* .article__edit-button_page {
  top: 0px;
} */

.article__main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
  justify-content: space-between;
}

.article__main_page {
  padding-bottom: 0;
}

.article__left {
  width: calc(30% - 20px);
  max-height: 200px;
  margin-right: 20px;
}

.article__right {
  width: 70%;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.article__image {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.article__image_page {
  margin-bottom: 20px;
}

.article__image-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: auto;
  object-fit: cover;
  object-position: center;
  border: 1px solid #c4e8ff;
}

.article__image-img_page {
  width: 70%;
  max-height: 300px;
}

.article__image-img_about-page {
  max-height: 380px;
}

.article-descr {
  display: block;
  padding: 0;
  color: #555;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.article-descr_page {
  padding: 10px 0;
}

.article-descr:hover {
  color: rgb(0, 0, 0);
}

.article-descr_page,
.article-descr_page:hover {
  color: #111;
}

.article-descr__date {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.article-descr__text {
  margin-bottom: 0px;
  text-align: left;
}

.article-descr__text_page {
  margin-bottom: 0px;
  text-align: left;
}

.article__more {
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
  text-decoration: none;
  color: #d3446c;
  background-color: transparent;
  border: 1px solid #d3446c;
  border-radius: 3px;
  transition: all 0.2s;
  font-size: 12px;
}

.article__more:hover {
  background-color: #d3446c;
  color: #fff;
}

.article-info {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  color: rgb(115, 140, 167);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.article-info_route {
  border-top: none;
}

.article-info_page {
  border-top: 1px solid #c4e8ff;
}

.article-info__views {
  width: auto;
  margin-right: 20px;
}

.article-info__lastviews {
  display: inline-block;
  /* margin-left: 4px; */
  color: #7aa601;
  /* font-weight: 700; */
}

.article-info__views i {
  margin-right: 5px;
}

.article-info__comments {
  width: auto;
  margin-right: 20px;
}

.article-info__author {
  width: auto;
  margin-right: 20px;
}

.article-info__edit {
  width: auto;
}

/*--------------------- Article page ------------------------*/

.article-descr_page p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.article-descr_page a {
  color: #ef6100;
  text-decoration: underline;
  transition: all 0.2s ease-in;
}

.article-descr_page a:hover {
  text-decoration: none;
}
/*----------------------- TELEGRAM MESSAGES ------------------------------*/

.tlg-channel__tlg-icon {
  /* position: absolute;
  top: 20px;
  left: 0px; */
  color: #249acc;
}

.tlg-messages {
  padding: 0 20px;
}

.tlg-message {
  position: relative;
  padding: 15px 0;
  transition: all 0.2s;
  border-bottom: 1px solid #c4e8ff;
}

.tlg-message__link {
  display: block;
  text-decoration: none;
}

.tlg-message__text {
  color: rgb(33, 33, 33);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  transition: all 0.2s;
}

.tlg-message__link:hover .tlg-message__text {
  color: #3483aa;
}

.tlg-message__info {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: rgb(115, 140, 167);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.tlg-message__views {
  width: 23%;
}

.tlg-message__views i {
  margin-right: 5px;
}

.tlg-message__comments {
  display: inline-block;
  width: 23%;
  color: rgb(115, 140, 167);
  text-decoration: none;
  cursor: pointer;
}

.tlg-message__comments:hover {
  color: #3483aa;
}

.tlg-message__author {
  width: 50%;
}
.tlg-message__date {
  width: 25%;
}
/*----------------------- TELEGRAM MESSAGES end ------------------------------*/

/*--------------------- ROUTES:INDEX --------------------------*/
.routes-item {
  box-sizing: border-box;
  text-align: center;
  padding: 20px 15px;
  border-bottom: 1px solid #c4e8ff;
}

.routes-item__title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.routes-item__title-link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.routes-item__image {
  display: block;
  height: 100%;
  border: 1px solid #c4e8ff;
}

.routes-item__image_page {
  width: 28%;
  height: 200px;
}

.routes-item__image-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.route__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  /* padding: 20px 0; */
}

.route__left {
  width: 25%;
}

.route__right {
  width: 73%;
  padding: 20px;
}

.route-info {
  text-align: left;
}

.route-info_index {
  margin-bottom: 10px;
}

.route-info__item {
  color: rgb(75, 75, 75);
  margin-bottom: 5px;
}

.route-info__item_page {
  background-color: #fff;
  color: rgb(75, 75, 75);
  margin-bottom: 5px;
  border-radius: 3px;
  border: 1px solid rgb(255, 36, 36);
  padding: 0 7px;
}

/*--------------------- ROUTE: DETAIL --------------------------*/

.route-page {
  position: relative;
  background: #fff;
  padding: 15px;
}

.route-page__route-title {
  width: 90%;
  font-size: 20px;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: none;
}

.route__edit-button {
  top: 15px;
  right: 30px;
}

.route__map-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.route-page-info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.route-page-info__item {
  margin: 5px 0;
  padding: 5px 10px;
  width: 25%;
  line-height: 1;
  padding-left: 0;
}

.route-page-info__item:not(:first-child) {
  border-left: 1px solid #c4e8ff;
  padding-left: 30px;
}

.route-page-info__item-title {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.route-page-info__item-value {
  display: block;
  font-size: 18px;
}

/* .owl-item:first-child {
  width: 70%;
} */

/* .owl-item.active {
  width: 300px;
} */

.route-gallery {
  margin-bottom: 20px;
}

.route-gallery__item {
  height: 200px;
}

.route-gallery__link,
.route-gallery__img {
  display: block;
  height: 100%;
  border-radius: 2px;
}

.route-gallery__img {
  width: 100%;
  object-fit: cover;
  border: 1px solid #c4e8ff;
}

.route-descr {
  font-size: 14px;
  margin-bottom: 10px;
}

.route-descr p,
.route-descr strong {
  margin: 0;
  padding: 0;
}

.route-descr-index {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}

.route-descr-index:hover {
  text-decoration: none;
  color: #265e7a;
}

.route__map {
  width: 100%;
  height: 100%;
  border: 1px solid #c4e8ff;
  margin-bottom: 10px;
}

.route__track-download {
  display: inline-block;
  text-align: left;
  color: #ef6100;
  margin-bottom: 10px;
}

.route__track-download:hover {
  text-decoration: none;
}

.route__track-download-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 10px;
  width: 120px;
  z-index: 2000;
  height: 50px;
  padding: 30px 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c4e8ff;
}

.route-map__button {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(255, 36, 36);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1em;
  transition: all 0.2s ease-in;
}

.route-map__button:not(:last-child) {
  margin-right: 20px;
}

.route-map__button:hover {
  background-color: rgb(184, 26, 26);
}

.route-map__button_back {
  background-color: rgb(236, 236, 236);
  color: #000;
  border: 1px solid #696969;
}

.route-map__button_back:hover {
  background-color: rgb(179, 179, 179);
}

/*----------------------- SIDEBAR ------------------------------*/

.sidebar-widget__title {
  padding-bottom: 10px;
}

.top-articles {
  width: 100%;
  padding: 20px 15px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #c4e8ff;
}

.top-articles__title {
  margin-bottom: 20px;
  font-weight: 700;
}

.top-articles-list {
  margin: 0;
}

.single-article {
  padding: 10px 0 0;
  border-top: 1px solid #eaeeef;
  border-bottom: 1px solid #eaeeef;
  transition: all 0.2s;
  /* box-sizing: border-box; */
}

.single-article:hover {
  border-top: 1px solid #3483aa;
  border-bottom: 1px solid #3483aa;
}

.single-article__link {
  display: block;
  text-decoration: none;
}

.single-article__img {
  display: block;
  width: 40%;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center top;
}

.single-article__title {
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.single-article__text {
  display: inline-block;
  color: rgb(61, 62, 64);
  text-decoration: none;
  transition: all 0.2s;
  font-size: 13px;
}

/*-----------------------------------------------------*/

.links-block {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #c4e8ff;
}

.links-caption {
  padding: 0 25px;
  margin-bottom: 15px;
}

.links-block__list {
  list-style: none;
  text-align: left;
}

.links-block__li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding: 10px; */
  transition: all 0.3s;
  border-bottom: 1px solid #c4e8ff;
  -webkit-tap-highlight-color: transparent;
}

.links-block__icon {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.links-block__link {
  display: inline-block;
  padding: 7px 5px;
  color: rgb(61, 62, 64);
  font-size: 12px;
}

.links-block__link:hover {
  color: #0b6fc0;
  text-decoration: none;
}

.links {
  list-style-type: none;
  counter-reset: num;
  padding: 20px;
}

.links-item {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.links-item::before {
	position: absolute;
	top: 0px;
	left: -26px;
	content: counter(num) ')'; 
	counter-increment: num;
	display: inline-block;	
	width: 20px;    
	color: #265e7a;
	text-align: right;
}

.links-icon {
  display: inline-block;
  margin-right: 10px;
}

.links-link {
  display: inline-block;
  color: rgb(61, 62, 64);
}

.links-link:hover {
  text-decoration: none;
}

.fa-vk {
  color: #4f78a3;
}

.fa-whatsapp {
  color: #2bb741;
}

.fa-telegram {
  color: #32afed;
}

.fa-bicycle {
  color: #2a6ab8;
}

.social-link_velomaster27 {
  background: url(../img/velomaster27_logo.png) 0px 0px / cover no-repeat;
}

.social-link_velcomebike {
  background: url(../img/velcomebike_logo.png) 0px 0px / cover no-repeat;
}

.icon-strava {
  display: inline-block;
  width: 20px;
  height: 28px;
  background: url(../img/strava_icon.svg) 0px 0px / cover no-repeat;
}

.icon-forum {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/social_sprite.png) 0px 0px / cover no-repeat;
}

.bike-icon_social {
  background: url(../img/bike_icon_white.svg) 0px 0px / cover no-repeat;
  display: inline-block;
  width: 32px;
  height: 20px;
}

/*--------------------- ABOUT --------------------------*/

.content-section_about {
  padding: 0px;
  border-bottom: 1px solid #eaeeef;
}

/* .content-section_about p {
  padding-left: 15px;
} */

.about__title {
  font-size: 26px;
  margin-bottom: 20px;
}

.about a {
  text-decoration: none;
  color: rgb(61, 62, 64);
}

.about a:hover {
  text-decoration: underline;
  color: rgb(43, 43, 44);
}

/*------------------------------------------*/

.link {
  color: #0b6fc0;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #0b6fc0;
  cursor: pointer;
  text-decoration: none;
}

/*------------------------ FOOTER -----------------------------*/

.footer {
  color: #fff;
  font-size: 16px;
}

.footer-wrapper {
  background: linear-gradient(to left, #3896c5, #265e7a);
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}

.footer-logo-wrapper {
  display: inline-block;
  width: 6%;
  margin-right: 30px;
}

.footer-menu {
  display: inline-block;
  border-left: 1px solid #fff;
  padding-left: 20px;
  width: 30%;
}

.footer-menu__list-item {
  width: 30%;
  margin-bottom: 5px;
}

.footer-menu__link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-menu__link:hover {
  color: #bdbdbd;
}

.footer-copyright {
  padding: 10px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  background-color: #153a4d;
}

.footer-copyright-content {
  padding-left: 100px;
}

.footer__copyright-text {
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer__link {
  color: #e2e2e2;
  text-decoration: none;
  display: inline-block;
  padding: 4px 0;
}

.footer__link:hover {
  color: #bdbdbd;
}

/*------------------------ FOOTER END -----------------------------*/

@media (max-width: 1200px) {
  .header-title {
    width: 21%;
    font-size: 22px;
  }
  .header-subtitle {
    width: 43%;
  }
}

@media (max-width: 992px) {
  .site-logo-wrapper {
    width: 15%;
  }
  .header-title {
    width: 30%;
    margin-right: 20px;
    font-size: 20px;
  }
  .header-subtitle {
    width: 46%;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .header-topline-wrapper {
    padding: 10px 0;
  }

  .site-logo-wrapper {
    width: 22%;
  }

  .site-logo {
    width: 50px;
    height: 50px;
  }

  .header-title {
    width: 69%;
    font-size: 22px;
    text-align: left;
  }

  .header-subtitle {
    display: none;
  }

  .auth {
    margin-left: 0px;
    padding: 10px 16px;
  }

  .auth_username {
    display: block;
  }

  .auth-link {
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 5px 0;
  }

  .auth-link_login {
    margin-left: 0px;
  }

  .auth-form label {
    display: inline-block;
    width: 46%;
  }

  .auth-form input {
    display: inline-block;
    width: 52%;
  }

  .menu-button-container {
    display: flex;
  }

  .header-menu {
    position: static;
  }

  .header-menu-desktop {
    display: none;
  }

  .header-menu-mobile.active {
    display: block;
  }

  .header-menu-nav {
    position: relative;
    border: none;
    margin-bottom: 0px;
  }

  .chapter-wrapper {
    display: block;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .main {
    margin-bottom: 15px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-12 {
    padding-left: 0;
    padding-right: 0;
  }

  /* .route-page__route-title {
    margin-bottom: 10px;
  } */

  .article-title_page {
    font-size: 17px;
  }

  .article__left {
    width: calc(37% - 10px);
  }

  .article__right {
    width: 60%;
  }
  /* 
  .article__main_page {
    padding-bottom: 0px;
  } */

  .article-descr {
    padding: 0;
  }

  .article-descr_page {
    padding-bottom: 10px;
  }

  .article-descr__text {
    height: 0;
    padding: 0;
    margin: 0;
  }

  .article-descr__text_route {
    height: auto;
  }

  .article-descr p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .article__more {
    padding: 4px 14px;
    margin-top: 10px;
    font-size: 14px;
  }

  .article__left,
  .article__right {
    width: 100%;
  }

  .article__left {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .route__edit-button {
    right: 20px;
  }

  .route__main {
    padding: 0;
  }

  .route-page-info__item {
    width: 32%;
  }

  .route-page-info__item:not(:first-child) {
    padding-left: 10px;
  }

  .route__left,
  .route__right {
    width: 48%;
  }

  .routes-item__image {
    height: auto;
  }

  .routes-item__image_page {
    width: 100%;
  }
  .route__right {
    padding: 10px 0 0;
  }

  .route-info {
    font-size: 14px;
  }

  .route__map-wrapper {
    height: 100vh;
  }

  .route__track-download-wrapper {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 15px 0;
  }

  .sidebar-widget {
    padding: 20px 10px;
    margin-bottom: 15px;
    border: 1px solid #c4e8ff;
  }

  .top-articles__title {
    margin-bottom: 5px;
  }

  .single-article__title {
    font-size: 18px;
  }

  .footer-menu-wrapper {
    padding: 15px;
  }

  .footer-logo-wrapper {
    width: 14%;
  }

  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100px;
    width: 68%;
  }

  .footer-menu__list-item {
    width: 30%;
    margin-bottom: 5px;
  }

  .footer-copyright-content {
    padding-left: 0px;
    text-align: center;
  }

  .footer__copyright-text {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
